%section.posters
  %h3 Постеры

  %div.posters-list 
    - data[:posters].each do |poster|
      %img.posters-list__item.poster{src: poster, 
        loading: 'lazy',
        alt: "Постер к фильму #{data[:name]}",
      }/