body {
  background-color: black;
  color: #f0f0f0;
  font-family: "Inter", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 100;
  background-color: black;
}

.header__logo {
  font-size: 24px;
  font-weight: bold;
}

.header-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #a0a0a0;
  text-decoration: none;
}

.header-item__icon {
  width: 24px;
  height: 24px;
  fill: #a0a0a0;
  margin-right: 5px;
  /* a.k.a. column-gap: 5px; in parent tag*/
}

.header-item:hover,
.header-item:focus,
.header-item:active,
.header-item_active {
  color: #f0f0f0;
}
.header-item:hover > .header-item__icon,
.header-item:focus > .header-item__icon,
.header-item:active > .header-item__icon,
.header-item_active > .header-item__icon {
  fill: #f0f0f0;
}

.search > input[type=text] {
  background-color: transparent;
  border: none;
  outline: none;
  color: #f0f0f0;
  font-size: 16px;
  width: 150px;
}
.search > input[type=text]::placeholder {
  position: relative;
  font-size: 16px;
  top: 1px;
  color: #a0a0a0;
}

.welcome-screen {
  position: fixed;
  left: 0;
  top: 60px;
  height: 300px;
  width: 100vw;
  display: flex;
  align-items: center;
  /* background: $secondary-background-color url(../resources/images/main.jpg) right top / cover;*/
  background: #3a1c71;
  z-index: -1;
}

.welcome-screen__content {
  margin-left: 40px;
}

.welcome-screen__label {
  font-size: 18px;
  line-height: 22px;
  color: #f0f0f0;
}

.welcome-screen__title {
  font-size: 48px;
  font-weight: bold;
  line-height: 58px;
  color: #f0f0f0;
}

.welcome-screen_hidden {
  display: none;
}

.not-found {
  margin-top: 20px;
}

.not-found_hidden {
  display: none;
}

.main {
  margin-top: 360px;
  background-color: black;
  z-index: 2;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.3);
}

.main_search-mode {
  margin-top: 60px;
  min-height: 100vh;
}

.section {
  padding: 20px 40px 40px 40px;
}

.section__title {
  font-size: 18px;
  line-height: 22px;
  color: #a0a0a0;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  max-width: 200px;
  margin: 20px 20px 0 0;
  /* gap: 30px; */
  color: #f0f0f0;
  text-decoration: none;
}

.catalog-item:hover > .catalog-item__poster::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 298px;
  left: 0px;
  top: 0px;
  background: transparent url(../resources/play.svg) no-repeat center center;
}

.catalog-item > .catalog-item__poster::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 298px;
  left: 0px;
  top: 0px;
  background-color: transparent;
  transition: background-color 0.3s;
}

.catalog-item:hover > .catalog-item__poster::before {
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 0.3s;
}

.catalog-item__poster {
  position: relative;
}
.catalog-item__poster img {
  max-width: 200px;
  border-radius: 2px;
}

.catalog-item__title {
  margin-top: 10px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.catalog-item__year {
  margin-top: 5px;
}

.footer {
  border-top: solid 1px #282828;
  background-color: black;
  padding: 15px;
  text-align: center;
}
.footer img {
  vertical-align: middle;
}
.footer a {
  color: #f0f0f0;
  text-decoration: none;
}

@media screen and (max-width: 740px) {
  .header {
    padding: 0px 10px;
  }

  .header__logo {
    font-size: 18px;
    font-weight: bold;
  }

  .welcome-screen {
    /*background: $secondary-background-color url(../resources/images/main.jpg) left top / cover;*/
    background: #fdbb2d;
    background: -moz-linear-gradient(180deg, #fdbb2d 0%, #3a1c71 100%);
    background: -webkit-linear-gradient(180deg, #fdbb2d 0%, #3a1c71 100%);
    background: linear-gradient(180deg, #fdbb2d 0%, #3a1c71 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fdbb2d",endColorstr="#3a1c71",GradientType=1);
  }

  .welcome-screen__content {
    margin-left: 10px;
  }

  .section {
    padding: 20px 10px 20px 10px;
  }

  .catalog {
    justify-content: center;
  }

  .catalog-item {
    max-width: 150px;
    margin: 20px 5px 0px 5px;
    /* gap: 30px; */
  }
  .catalog-item .catalog-item__poster > img {
    max-width: 150px;
  }
  .catalog-item .catalog-item__title {
    margin-top: 7px;
    font-size: 16px;
  }
  .catalog-item .catalog-item__year {
    margin-top: 2px;
    font-size: 12px;
  }
  .catalog-item:hover > .catalog-item__poster::after {
    width: 150px;
    height: 226px;
  }
  .catalog-item > .catalog-item__poster::before {
    width: 150px;
    height: 226px;
  }
}

/*# sourceMappingURL=index.css.map */
