$text-color: rgb(240, 240, 240);
$secondary-text-color: rgb(160, 160, 160);

$background-color: rgb(0, 0, 0);
$secondary-background-color: rgb(40, 40, 40);

body {
    background-color: $background-color;
    color: $text-color;
    font-family: "Inter", sans-serif;
}

#welcome-screen {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background: $secondary-background-color url(../resources/images/main.jpg) left top / cover;
    z-index: -1;

    h1 {
        margin-left: 30px;
        font-weight: bold;
        font-size: 72px;
        color: $text-color;
    }
}

#logo {
    position: relative;
    top: -45px;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    border-radius: 50%;
    background-color: $background-color;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.3);

    img {
        width: 24px;
        margin-top: 15px;
    }
}

main {
    margin-top: 100vh;
    padding: 0 30px 30px 30px;
    background-color: $background-color;
    z-index: 100;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);

    h2 {
        font-weight: bold;
        font-size: 48px;
        padding: 0px 0 10px 0;
    }
}

#random-panel .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

#random-run {
    border: none;
    background-color: darkgreen;
    padding: 10px 15px;
    outline: none;
    height: fit-content;
    border-radius: 2px;
    cursor: pointer;
}

#catalog {
    position: relative;
    top: -60px; /* to avoid logo  padding */

    & > header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}

#search-panel {
    $alt-text-color: rgb(230, 230, 230);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 16px;

    & > div {
        display: flex;
        align-items: center;
        cursor: pointer;

        color: $secondary-text-color;

        margin-right: 20px; /* a.k.a. column-gap: 20px; in parent tag*/

        &:last-child {
            margin-right: 0;
        }

        & > svg {
            width: 24px;
            height: 24px;
            fill: $secondary-text-color;
            margin-right: 5px; /* a.k.a. column-gap: 5px; in parent tag*/
        }

        &:hover,
        &:focus,
        &:active,
        &.active {
            color: $alt-text-color;

            > svg {
                fill: $alt-text-color;
            }
        }

        > input[type="text"] {
            background-color: transparent;
            border: none;
            width: 100%;
            height: 100%;
            outline: none;
            color: $alt-text-color;
            font-size: 16px;

            &::placeholder {
                position: relative;
                font-size: 16px;
                top: 1px;
                color: $secondary-text-color;
            }
        }
    }
}

@media screen and (max-width: 865px) {
    #search-panel > div {
        margin-bottom: 15px; /* a.k.a. row-gap: 15px; in parent tag*/
    }
}

.extended-search-panel {
    margin-top: 20px;
    padding: 20px 10px 20px 10px;

    h3 {
        font-size: 24px;
        margin-bottom: 20px;
    }
}

.genre {
    color: $secondary-text-color;
    border-radius: 2px;
    padding: 5px 5px;
    cursor: pointer;

    &.active {
        /* background-color: $secondary-text-color;*/
        color: $text-color;
    }
}

.random-result {
    color: rgb(240, 240, 240);
    text-decoration: none;

    display: flex;
    flex-direction: row;

    img {
        max-width: 150px;
    }
    .title,
    .year,
    .label-new {
        display: none;
    }
}

.film-list {
    display: flex;
    flex-wrap: wrap;

    .item {
        max-width: 200px;
        margin: 30px 30px 0 0; /* gap: 30px; */
        color: $text-color;
        text-decoration: none;

        .poster {
            position: relative;

            img {
                max-width: 200px;
                border-radius: 2px;
            }
        }

        .title {
            margin-top: 15px;
            font-size: 24px;
            font-weight: bold;
        }

        .year {
            margin-top: 5px;
        }

        @mixin itemPseudoelementSizing {
            content: "";
            position: absolute;
            width: 200px;
            height: 298px;
            left: 0px;
            top: 0px;
        }

        &:hover > .poster::after {
            @include itemPseudoelementSizing;

            background: transparent url(../resources/play.svg) no-repeat center center;
        }

        & > .poster::before {
            @include itemPseudoelementSizing;

            background-color: transparent;
            transition: background-color 0.3s;
        }

        &:hover > .poster::before {
            background-color: rgba(0, 0, 0, 0.7);

            transition: background-color 0.3s;
        }
    }
}

.label-new {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #682553;
    padding: 5px 10px;
    border-bottom-left-radius: 5px;
    box-shadow: -2px 2px 4px 1px rgba(0, 0, 0, 0.5);
}

.hide {
    display: none;
}

footer {
    border-top: solid 1px rgb(40, 40, 40);
    background-color: rgb(0, 0, 0);
    padding: 15px;
    text-align: center;

    img {
        vertical-align: middle;
    }

    a {
        color: rgb(240, 240, 240);
        text-decoration: none;
    }
}

@media screen and (max-width: 740px) {
    .film-list {
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    #welcome-screen {
        h1 {
            margin-left: 15px;
            margin-right: 15px;
            font-size: 48px;
        }
    }

    main {
        padding-right: 15px;
        padding-left: 15px;

        h2 {
            font-size: 36px;
            padding: 30px 0 20px 0;
        }
    }

    #search-panel {
        flex-direction: column;
        justify-content: start;
    }
}

@media screen and (max-width: 540px) {
    .film-list {
        margin-top: 20px;
        .item {
            max-width: 150px;
            margin: 10px 10px 0 0; /* gap: 30px; */

            .poster {
                img {
                    max-width: 150px;
                }
            }

            .title {
                margin-top: 7px;
                font-size: 16px;
            }

            .year {
                margin-top: 2px;
                font-size: 12px;
            }

            @mixin itemPseudoelementSizing {
                width: 150px;
                height: 226px;
            }

            &:hover > .poster::after {
                @include itemPseudoelementSizing;
            }

            & > .poster::before {
                @include itemPseudoelementSizing;
            }
        }
    }
}

.posts-list {
    margin: 30px;
    font-size: 24px;
    
    .post {
        color: $text-color;
        text-decoration: none;
    }
}
