body {
  background-color: black;
  color: #f0f0f0;
  font-family: "Frutiger LT Std", Arial, Helvetica, sans-serif;
}

#welcome-screen {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background: #282828 url(../resources/images/main.jpg) left top/cover;
  z-index: -1;
}
#welcome-screen h1 {
  margin-left: 30px;
  font-weight: bold;
  font-size: 72px;
  color: #f0f0f0;
}

#logo {
  position: relative;
  top: -45px;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 50%;
  background-color: black;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.3);
}
#logo img {
  width: 24px;
  margin-top: 15px;
}

main {
  margin-top: 100vh;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: black;
  z-index: 100;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
}
main h2 {
  font-weight: bold;
  font-size: 48px;
  padding: 0px 0 10px 0;
}

#random-panel .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

#random-run {
  border: none;
  background-color: darkgreen;
  padding: 10px 15px;
  outline: none;
  height: fit-content;
  border-radius: 2px;
  cursor: pointer;
}

#catalog {
  position: relative;
  top: -50px;
  /* to avoid logo  padding */
}
#catalog > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#search-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px 20px;
  font-size: 16px;
}
#search-panel > div {
  display: flex;
  align-items: center;
  column-gap: 5px;
  cursor: pointer;
  color: #a0a0a0;
}
#search-panel > div > svg {
  width: 24px;
  height: 24px;
  fill: #a0a0a0;
}
#search-panel > div:hover, #search-panel > div:focus, #search-panel > div:active, #search-panel > div.active {
  color: #e6e6e6;
}
#search-panel > div:hover > svg, #search-panel > div:focus > svg, #search-panel > div:active > svg, #search-panel > div.active > svg {
  fill: #e6e6e6;
}
#search-panel > div > input[type=text] {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
  color: #e6e6e6;
  font-size: 16px;
}
#search-panel > div > input[type=text]::placeholder {
  position: relative;
  font-size: 16px;
  top: 1px;
  color: #a0a0a0;
}

.extended-search-panel {
  margin-top: 20px;
  padding: 20px 10px 20px 10px;
}
.extended-search-panel h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.genre {
  color: #a0a0a0;
  border-radius: 2px;
  padding: 3px 5px;
  cursor: pointer;
}
.genre.active {
  /* background-color: $secondary-text-color;*/
  color: #f0f0f0;
}

.random-result {
  color: #f0f0f0;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}
.random-result img {
  max-width: 150px;
}
.random-result .title, .random-result .year, .random-result .label-new {
  display: none;
}

.film-list {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  /*  justify-content: space-around;*/
  gap: 30px;
}
.film-list .item {
  color: #f0f0f0;
  text-decoration: none;
}
.film-list .item .poster {
  position: relative;
}
.film-list .item img {
  max-width: 200px;
}
.film-list .item .title {
  margin-top: 15px;
  max-width: 200px;
  font-size: 24px;
  font-weight: bold;
}
.film-list .item .year {
  margin-top: 5px;
}
.film-list .item:hover > .poster::after {
  content: "";
  background-image: url(../resources/play.svg);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  width: 199px;
  height: 297px;
  left: 0;
  top: 0;
}
.film-list .item > .poster::before {
  content: "";
  position: absolute;
  width: 199px;
  height: 297px;
  left: 0;
  top: 0;
  background-color: transparent;
  border: solid 1px transparent;
  transition: background-color 0.3s;
}
.film-list .item:hover > .poster::before {
  background-color: rgba(0, 0, 0, 0.7);
  border: solid 1px #282828;
  transition: background-color 0.3s, border-color 0.3s;
}

.label-new {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #6d1652;
  padding: 5px 10px;
  border-bottom-left-radius: 5px;
  box-shadow: -2px 2px 4px 1px rgba(0, 0, 0, 0.5);
}

.hide {
  display: none;
}

footer {
  border-top: solid 1px #282828;
  background-color: black;
  padding: 15px;
  text-align: center;
}
footer img {
  vertical-align: middle;
}
footer a {
  color: #f0f0f0;
  text-decoration: none;
}

@media screen and (max-width: 740px) {
  .film-list {
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  h1 {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 48px;
  }

  h2 {
    font-weight: bold;
    font-size: 36px;
    padding: 30px 0 20px 0;
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

/*# sourceMappingURL=index.css.map */
